body{
    margin: 0;
    padding: 0;
    font: 100% arial, sans-serif;
    background-color: #d4b13f;   
}

section{
    margin: 1rem 0;
    background-color: rgb(189, 161, 4);
    padding: o.75rem;
}

.jumbotron{
    background-image: url(../imgs/Imagem\ principal\ 3.jpg);
    background-size: cover;
    background-position: right center;
    padding: 10rem 2rem;
    color: white;
    text-align: center;
}

.jumbotron h1{
    font-size: 3.5rem;
    text-shadow: 2px 2px 1px rgba(104, 102, 0, 0.8);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
}

.jumbotron p{
    padding: 1rem;
    border-bottom: 2px solid white;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 1rem;
    display: inline-block;
}

.card-container{
    padding: 0.75rem 1.25rem;
}

.card-container .card-body{
    background-color: rgba(180, 127, 11, 0.596);
    padding: 1rem 0.75rem;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
    color: black;
}


.rodape{
    height: 5rem;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background-color: #7e7e16;
}
.rodape p{
    margin: 0;
}